In [49]:
#pip install lxml
#pip install beautifulSoup4
#pip install html5lib

In [16]:
#import pandas library
import pandas as pd
import datetime as dt

In [17]:
#Inserting website url
url= 'https://konbriefing.com/en-topics/cyber-attacks-2022.html'

In [18]:
#Getting the first element of dataframe from the list
df= pd.read_html(url)[0]

In [21]:
df.head()

,#,Date,Country,City,State,Company,Type,Stichworte
0,1,"January 1, 2022",Japan,Tokyo,NaN,Wellness studios,NaN,"株式会社エーワン東京 (awan tokyo co., ltd)"
1,2,"January 2, 2022",Spain,Madrid,NaN,TV station,NaN,laSexta
2,3,"January 2, 2022",Portugal,Paço de Arcos,NaN,Media company,NaN,Impresa
3,4,"January 3, 2022",Israel,Tel Aviv / תֵּל־אָבִיב–יָפוֹ,NaN,Newspaper,NaN,Maariv
4,5,"January 3, 2022",Israel,Jerusalem / ירושלים,NaN,Newspaper,Website defacement,Jerusalem Post

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401 entries, 0 to 1400
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           1401 non-null   int64
 1   Date        1401 non-null   object
 2   Country     1372 non-null   object
 3   City        1170 non-null   object
 4   State       571 non-null    object
 5   Company     1356 non-null   object
 6   Type        143 non-null    object
 7   Stichworte  1361 non-null   object
dtypes: int64(1), object(7)
memory usage: 87.7+ KB

In [23]:
df.dtypes

#              int64
Date          object
Country       object
City          object
State         object
Company       object
Type          object
Stichworte    object
dtype: object

# 1. Drop unwanted columns

In [24]:
#Drop serial number column
df= df.drop(['#'], axis= 1)

In [25]:
#Rename column
df.rename(columns={'Stichworte': 'Keywords'}, inplace= True)

# 2. Null Values

In [26]:
#Checking for null values
df.isnull().sum()

Date           0
Country       29
City         231
State        830
Company       45
Type        1258
Keywords      40
dtype: int64

In [29]:
#Percentage of null values in columns
df.isnull().mean()*100

Date         0.000000
Country      2.069950
City        16.488223
State       59.243398
Company      3.211991
Type        89.793005
Keywords     2.855103
dtype: float64

In [30]:
#Fetching records where Country value is missing
df[df['Country'].isnull()]

,Date,Country,City,State,Company,Type,Keywords
25,January 2022,NaN,NaN,NaN,NaN,Phishing,NaN
89,"January 27, 2022",NaN,NaN,NaN,Crypto platform,NaN,"Finance, Money,Qubit Finance"
116,"February 2, 2022",NaN,NaN,NaN,Crypto platform,NaN,"Finance, Money,Wormhole"
203,"February 24, 2022",NaN,NaN,NaN,Government officials,Spear-phishing,"Government,Administration, Authority, Governme..."
243,"March 3, 2022",NaN,NaN,NaN,NaN,NaN,Trickbot
296,"March 15, 2022",NaN,NaN,NaN,Crypto trading site,NaN,"Finance, Money,DEUS Finance"
376,"March 31, 2022",NaN,NaN,NaN,DeFi platform,NaN,"Finance, Money,Ola Finance"
384,"April 1, 2022",NaN,NaN,NaN,NFT collection,NaN,Bored Ape Yacht Club (BAYC)
388,"April 2, 2022",NaN,NaN,NaN,DeFi protocoll,NaN,"Finance, Money,Inverse Finance"
447,"April 17, 2022",NaN,NaN,NaN,Crypto currency,NaN,"Finance, Money,Beanstalk Farms"
486,"April 21, 2022",NaN,NaN,NaN,DeFi protocol,NaN,"Finance, Money,ZEED"
502,"April 25, 2022",NaN,NaN,NaN,NFT collection,NaN,Bored Ape Yacht Club
680,"June 1, 2022",NaN,NaN,NaN,NaN,NaN,NaN
695,"June 4, 2022",NaN,NaN,NaN,NFT collection,NaN,Bored Ape Yacht Club (BAYC)
758,"June 24, 2022",NaN,NaN,NaN,Blockchain,NaN,"Finance, Money,Harmony"
785,"July 3, 2022",NaN,NaN,NaN,DeFi,NaN,"Finance, Money,Crema Finance"
812,"July 11, 2022",NaN,NaN,NaN,NaN,NaN,"Finance, Money"
856,"August 1, 2022",NaN,NaN,NaN,Crypto finance,NaN,"Finance, Money,Nomad Bridge"
862,"August 3, 2022",NaN,NaN,NaN,Crypto currency,NaN,"Finance, Money,Solana"
899,"August 13, 2022",NaN,NaN,NaN,Trading platform,NaN,CS.MONEY
914,"August 18, 2022",NaN,NaN,NaN,NaN,NaN,"Finance, Money"
995,September 2022,NaN,NaN,NaN,Computer games,NaN,Rockstar Games
1008,"September 20, 2022",NaN,NaN,NaN,Crypto currencies,NaN,"Finance, Money,Wintermute"
1028,"September 26, 2022",NaN,NaN,NaN,Poker tournament,NaN,Pokerstars WCOOP / Galactic
1056,"October 2, 2022",NaN,NaN,NaN,Crypto platform,NaN,"Finance, Money,Transit Swap"
1060,"October 4, 2022",NaN,NaN,NaN,Online game,NaN,Overwatch 2
1063,"October 5, 2022",NaN,NaN,NaN,Online game,NaN,Overwatch 2
1095,"October 11, 2022",NaN,NaN,NaN,Crypto currencies,NaN,"Finance, Money"
1140,"October 24, 2022",NaN,NaN,NaN,Crypto exchange,NaN,"Finance, Money,QuickSwap"

In [31]:
#Checking for the presence of values in City column where values in Country column is missing
df[df['Country'].isnull()]['City'].isnull().sum()

29

Since the number is same, so there is no records of City available where values for Country is missing, hence we drop all such records.

##2.1 Country

In [34]:
#Dropping all index values where values in Country are null
df.drop(index= df[df['Country'].isnull()].index, inplace= True, axis=0)

#or

#df= df.dropna(subset=['Country'])

In [35]:
df.isnull().sum()

Date           0
Country        0
City         202
State        801
Company       40
Type        1231
Keywords      38
dtype: int64

## 2.2 State

In [36]:
#Fetching records where State values are missing
df[df['State'].isnull()]

,Date,Country,City,State,Company,Type,Keywords
0,"January 1, 2022",Japan,Tokyo,NaN,Wellness studios,NaN,"株式会社エーワン東京 (awan tokyo co., ltd)"
1,"January 2, 2022",Spain,Madrid,NaN,TV station,NaN,laSexta
2,"January 2, 2022",Portugal,Paço de Arcos,NaN,Media company,NaN,Impresa
3,"January 3, 2022",Israel,Tel Aviv / תֵּל־אָבִיב–יָפוֹ,NaN,Newspaper,NaN,Maariv
4,"January 3, 2022",Israel,Jerusalem / ירושלים,NaN,Newspaper,Website defacement,Jerusalem Post
...,...,...,...,...,...,...,...
1386,"December 27, 2022",Netherlands,NaN,NaN,Political party,NaN,"Politics,PVV"
1389,"December 28, 2022",United Kingdom,Neath,NaN,Further education,NaN,"Wales, West Glamorgan, United Kingdom,Grŵp Col..."
1393,"December 30, 2022",Morocco,Rabat,NaN,Library,NaN,"Administration, Authority, Government, Public ..."
1396,2022,Japan,NaN,NaN,Insurance company,NaN,"Finance, Money,Tokio Marine & Nichido Fire Ins..."
1397,December 2022,United Kingdom,Darlington,NaN,School,NaN,"England, Durham, United Kingdom,Hurworth Compr..."

In [37]:
#Checking for the presence of City name in records where Values for State are missing
df[df['State'].isnull()]['City'].isnull().sum()

201

Since there are 600(801-201) records in City available, where values in State are missing. So we will fill up the State with consequent city name, by assuming here that City and State names are same.

In [38]:
#Filling the missing values of State using filling forward from City column
df[['City', 'State']] = df[['City', 'State']].fillna(method='ffill', axis=1, inplace= False)

In [39]:
df.isnull().sum()

Date           0
Country        0
City         202
State        201
Company       40
Type        1231
Keywords      38
dtype: int64

In [40]:
#Fetching recors where values for State are missing
df[df['State'].isnull()]

,Date,Country,City,State,Company,Type,Keywords
7,"January 4, 2022",Singapore,NaN,NaN,Department store,Unauthorized access,"Retail,OG Singapore"
37,"January 13, 2022",Ukraine,NaN,NaN,Government agencies,Wiper,"Government,Administration, Authority, Governme..."
42,"January 14, 2022",North Korea,NaN,NaN,Internet,DDoS attack,NaN
43,January 2022,Poland,NaN,NaN,Military,NaN,"Armed Forces, Military,Wojsko Polskie"
44,"January 14, 2022",Ukraine,NaN,NaN,Government,Website defacement,"Government,Administration, Authority, Governme..."
...,...,...,...,...,...,...,...
1373,December 2022,Jersey,NaN,NaN,School,NaN,De La Salle College
1377,December 2022,Germany,NaN,NaN,Lottery companies,NaN,NaN
1380,"December 26, 2022",Singapore,NaN,NaN,Crypto wallets,NaN,"Finance, Money,BitKeep"
1386,"December 27, 2022",Netherlands,NaN,NaN,Political party,NaN,"Politics,PVV"
1396,2022,Japan,NaN,NaN,Insurance company,NaN,"Finance, Money,Tokio Marine & Nichido Fire Ins..."

## 2.3 City, State and Type

In [41]:
#Filling null values in City and State columns with "Missing"
df['City'].fillna('missing', axis=0, inplace= True)
df['State'].fillna('missing', axis=0, inplace= True)
df['Type'].fillna('In process of analysis', axis=0, inplace= True)

In [42]:
df.isnull().sum()

Date         0
Country      0
City         0
State        0
Company     40
Type         0
Keywords    38
dtype: int64

# 3. Correct values in Date column

In [43]:
df['Date'].head(30)

0      January 1, 2022
1      January 2, 2022
2      January 2, 2022
3      January 3, 2022
4      January 3, 2022
5      January 3, 2022
6      January 4, 2022
7      January 4, 2022
8      January 4, 2022
9      January 4, 2022
10      January 2022 ?
11     January 5, 2022
12        January 2022
13     January 7, 2022
14     January 7, 2022
15     January 8, 2022
16     January 8, 2022
17        January 2022
18        January 2022
19     January 9, 2022
20    January 10, 2022
21    January 10, 2022
22    January 10, 2022
23    January 10, 2022
24    January 10, 2022
26    January 11, 2022
27        January 2022
28    January 11, 2022
29    January 11, 2022
30    January 12, 2022
Name: Date, dtype: object

There are some records in Date column, which are missing with either month or year information. So we can use fill forward method for Date column because of a specific order, it will help with further analysis.

In [44]:
#Convert the 'Date' column to datetime format
df['Date']= pd.to_datetime(df['Date'], errors= 'coerce')

In [45]:
#Filling the missing values of month or the date by using filling forward from record above
df['Date'] = df['Date'].fillna(method= 'ffill')

In [46]:
df['Date'].head(20)

0    2022-01-01
1    2022-01-02
2    2022-01-02
3    2022-01-03
4    2022-01-03
5    2022-01-03
6    2022-01-04
7    2022-01-04
8    2022-01-04
9    2022-01-04
10   2022-01-04
11   2022-01-05
12   2022-01-01
13   2022-01-07
14   2022-01-07
15   2022-01-08
16   2022-01-08
17   2022-01-01
18   2022-01-01
19   2022-01-09
Name: Date, dtype: datetime64[ns]

In [47]:
df.isnull().sum()

Date         0
Country      0
City         0
State        0
Company     40
Type         0
Keywords    38
dtype: int64

#4. Exporting to csv

In [48]:
df.to_csv('cyber.csv')